@import "../../../assets/variables";

.content
{
  .login-box
  {
    background-color: $listBgColor;
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 7px;
    box-shadow: $shadow;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .login-left
    {
      .login-header
      {
        font-weight: bolder;
        color: rgba(#fff,0.7);
      }
      .dont-have-acc
      {
        color: $semiGray;
      }
      .sign-up
      {
        color: rgba($mainColor,0.6);
        margin-left: 0.5rem;
        text-decoration: none;
      }
    }
    .login-right
    {
      img
      {
        position: relative;
        animation: floatMe 2s alternate infinite linear;
      }
    }
  }

}

.show-divider
{
  border-left: 1px solid rgba(#fff,0.2);
}

@media only screen and (max-width: 768px) {
  .content {
    .login-box {

      .login-left
      {
        .login-header
        {
          font-size: 15px;
        }
      }
    }
  }
  .show-divider
  {
    border-left: none;
  }
  .remove-padding
  {
    padding: 0 !important;
  }
}
@keyframes floatMe {
  0% {
    top: 25px;
  }
  100% {
    top: 0px;;
  }
}


