
<section class="content">
    <div class="chat-box">
        <div class="upper-box">
            <div class="box-left">
                <div class="user-img">
                    <img class="" src="assets/myprofile.jpg" alt="user-img">
                </div>
                <div class="user-name-online">
                    <div class="u-name">
                        <span class="u-n">Ziad El shafey</span>
                        <span class="active"></span>
                    </div>
                    <div class="u-status"><span class="user-status">typing...</span></div>
                </div>
            </div>
            <div class="box-right">
                <div class="user-info">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="middle-box">
<!--            <div class="user-friend">-->
<!--                <div class="current-details">-->
<!--                    <span class="name-of-user">Jhon Doe </span>-->
<!--                    <span class="date-of-message">Jul 11, 2020</span>-->
<!--                </div>-->
<!--                <div class="current-message">-->
<!--                    <span class="message-text">Hi, i hope you are doing well, shall we hangout today?</span>-->
<!--                    <div class="current-time">1:45 AM</div>-->
<!--                </div>-->
<!--            </div>-->
            <div *ngFor="let user of chatDetailsContainer" [ngClass]="user.id === currentUserId ? 'current-user' : 'user-friend'">
                <div class="current-details">
                    <span class="name-of-user">{{user.from}} </span>
                    <span class="date-of-message">{{user.fullDate | date}}</span>
                </div>
                <div class="current-message">
                    <span class="message-text">{{user.message}}</span>
                    <div class="current-time"><span><i class="fas fa-check check-icon"></i></span>{{user.fullDate | date:"shortTime"}}</div>
                </div>
            </div>
        </div>
        <div class="lower-box">
            <form class="chat-sender" (ngSubmit)="sendMessage()">
                <label for="upload-file" class="uk-margin-remove">
                    <div class="upload-file">
                        <i class="fas fa-camera u-icon"></i>
                    </div>
                </label>
                <input type="file" id="upload-file" style="display: none">
                <div class="chat-input">
                    <input type="text" [(ngModel)]="currentMessage.message" name="currentMessage" class="chat-form-control" placeholder="Type a message">
                    <button class="send-icon">
                        <i class="far fa-paper-plane"></i>
                    </button>
                </div>
                <div class="voice-recorder">
                    <i class="fas fa-microphone text-white"></i>
                </div>
            </form>
        </div>
    </div>
</section>
