@import "../../../assets/variables";

.content
{
  .chat-box
  {
    background-color: $listBgColor;
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 7px;
    box-shadow: $shadow;
    .upper-box
    {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $semiGray;
      padding: 0.6rem 0rem;
      margin-bottom: 0.6rem;
      .box-left
      {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .user-img
        {
          img
          {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            box-shadow: $shadow;
            margin-right: 0.5rem;
          }
        }
        .user-name-online
        {
          .u-name
          {
            display: flex;
            align-items: center;
            .u-n
            {
              color: #fff;
              margin-right: 0.5rem;
            }
          }
          .u-status
          {
            .user-status
            {
              color: $mainColor !important;
            }
          }
        }
      }
      .box-right
      {
        .user-info
        {
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          &:hover
          {
            cursor: pointer;
            border: 3px solid rgba($mainColor,0.1);
          }
        }
      }
    }
    .middle-box
    {
      height: 60vh;
      overflow-y: scroll;
      background-color: $navBgColor;
      border-radius: 7px;
      padding: 1rem;
    }
    .lower-box
    {
      margin-top: 0.7rem;
      .chat-sender
      {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .upload-file
        {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: rgba($mainColor,0.1);
          .u-icon
          {
            color: #fff !important;
          }
          &:hover
          {
            cursor: pointer;
          }
        }
        .chat-input
        {
          position: relative;
          width: 90%;
          .chat-form-control
          {
            width: 100%;
            background-color: rgba($mainColor,0.1);
            border: none;
            padding: 0.5rem 0.5rem 0.5rem 1.5rem;
            color: $semiGray;
            border-radius: 20px;
            outline: none;
          }
          .send-icon
          {
            background-color: transparent;
            border: none;
            position: absolute;
            top: 18%;
            right: 2%;
            color: #fff;
            outline: none;
            transform: scale(1);
            transition: 0.2s;
            &:active
            {
              transform: scale(0.6);
            }
          }
        }
        .voice-recorder
        {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: rgba($mainColor,0.1);
          &:hover
          {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .content
  {
    .chat-box
    {
      .lower-box
      {
        .chat-sender
        {
          .chat-input
          {
            width: 80%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 520px) {
  .content
  {
    .chat-box
    {
      .lower-box
      {
        .chat-sender
        {
          .chat-input
          {
            width: 70%;
          }
        }
      }
    }
  }
}



.uk-dropdown {
  background-color: rgba($mainColorDisabled, 1);
  border-radius: 7px;
  overflow-y: auto;
  padding: 0;
}



.dropdown-dots
{

  .dots-content
  {
    display: block;
    text-decoration: none;
    transition: 0.1s;
    padding: 0.7rem 1.3rem;
    span
    {
      color: rgba(#fff,0.8);
    }
    &:hover
    {
      background-color: rgba(black,0.3);
      cursor: pointer;
    }
  }
}


#add-member-modal
{
  .modal-body
  {
    background-color: $listBgColor !important;
    border-radius: 0;
    .chat-search
    {
      .search-form
      {
        .upper-part
        {
          position: relative;
          .chatsapp-form-control
          {
            width: 100%;
            border: none;
            color: $semiGray;
            background-color: transparent;
            padding: 0.7rem 2rem 0.7rem 0.7rem;
            border-bottom: 2px solid $semiGray;
            transition: 0.2s;
            outline: none;
            &:focus
            {
              border-color: $mainColor;
              outline: none;
            }
          }
          .search-icon
          {
            color: $semiGray;
            position: absolute;
            top: 30%;
            right: 2%;
          }
        }
        .selected-memebers
        {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          .selected-friend
          {
            display: flex;
            align-items: center;
            background-color: rgba(black,0.1);
            padding: 0.2rem;
            border-radius: 10px;
            margin: 0.3rem;
            img
            {
              height: 25px;
              width: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
            }
            .memeber-name
            {
              color: rgba(#fff,0.7);
              font-size: 14px;
              margin: 0rem 0.5rem 0rem 0.2rem;
            }
            .cancel-member
            {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 15px;
              width: 15px;
              border-radius: 50%;
              .cancel-member-icon
              {
                font-size: 12px;
                color: #fff;
              }
              &:hover
              {
                background-color: rgba(#fff,0.5);
                cursor: pointer;
              }
            }
          }
        }
        .friends-to-add
        {
          padding: 0.7rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid rgba(#fff,0.1);
          transition: 0.1s;
          .add-left
          {
            display: flex;
            align-items: center;
            .friend-img
            {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 60px;
              width: 60px;
              border-radius: 50%;
              margin-right: 0.5rem;
            }
            .member-name-modal
            {
              color: $semiGray;
            }
          }
          .add-right
          {

          }
          &:hover
          {
            background-color: rgba(black,0.1);
            cursor: pointer;
          }
        }
      }

    }
  }
}

#group-members-modal
{
  .modal-body
  {
    background-color: $listBgColor !important;
    .group-members
    {
      h6
      {
        font-size: 16px;
        color: rgba(#fff,0.8);
        font-weight: bold;
      }
    }
    .chat-search
    {
      .search-form
      {
        .friends-to-add
        {
          padding: 0.7rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid rgba(#fff,0.1);
          transition: 0.1s;
          .add-left
          {
            display: flex;
            align-items: center;
            .friend-img
            {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 60px;
              width: 60px;
              border-radius: 50%;
              margin-right: 0.5rem;
            }
            .member-name-modal
            {
              color: $semiGray;
            }
          }
          .add-right
          {
            .kick-user-icon
            {
              &:hover
              {
                color: #ee395b !important;
                cursor: pointer;
              }
            }
          }
          &:hover
          {
            background-color: rgba(black,0.1);
          }
        }
      }

    }
  }
}
