<section class="content">
    <div class="chat-list">
        <div class="chat-search">
            <form class="search-form">
                <input type="text" class="chatsapp-form-control" placeholder="Search or start new chat">
                <i class="fa fa-search search-icon" aria-hidden="true"></i>
            </form>
        </div>
        <div class="chat-contacts">
            <div class="friends">
                <div class="friends-imgs">
                    <img class="img" src="assets/myprofile.jpg" alt="friends-images">
                </div>
                <div class="friends-chat">
                    <div class="friend-name">
                        <span class="f-name">Ahmed Muhammed</span>
                        <span class="f-time">3:45 AM</span>
                    </div>
                    <div class="friend-message">
                        <div class="m-caption">
                            <i class="fas fa-check-double mark-icon"></i>
                            <span class="m-text">Hello, i hope you are doing well!</span>
                        </div>
                        <div class="new-message">
                            <span class="message-alert">2</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="friends">
                <div class="friends-imgs">
                    <img class="img" src="assets/myprofile.jpg" alt="friends-images">
                </div>
                <div class="friends-chat">
                    <div class="friend-name">
                        <span class="f-name">Ahmed Muhammed</span>
                        <span class="f-time">3:45 AM</span>
                    </div>
                    <div class="friend-message">
                        <div class="m-caption">
                            <i class="fas fa-check-double mark-icon"></i>
                            <span class="m-text">Hello, i hope you are doing well!</span>
                        </div>
                        <div class="new-message">
                            <span class="message-alert">2</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="friends">
                <div class="friends-imgs">
                    <img class="img" src="assets/myprofile.jpg" alt="friends-images">
                </div>
                <div class="friends-chat">
                    <div class="friend-name">
                        <span class="f-name">Ahmed Muhammed</span>
                        <span class="f-time">3:45 AM</span>
                    </div>
                    <div class="friend-message">
                        <div class="m-caption">
                            <i class="fas fa-check-double mark-icon"></i>
                            <span class="m-text">Hello, i hope you are doing well!</span>
                        </div>
                        <div class="new-message">
                            <span class="message-alert">2</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="friends">
                <div class="friends-imgs">
                    <img class="img" src="assets/myprofile.jpg" alt="friends-images">
                </div>
                <div class="friends-chat">
                    <div class="friend-name">
                        <span class="f-name">Ahmed Muhammed</span>
                        <span class="f-time">3:45 AM</span>
                    </div>
                    <div class="friend-message">
                        <div class="m-caption">
                            <i class="fas fa-check-double mark-icon"></i>
                            <span class="m-text">Hello, i hope you are doing well!</span>
                        </div>
                        <div class="new-message">
                            <span class="message-alert">2</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="friends">
                <div class="friends-imgs">
                    <img class="img" src="assets/myprofile.jpg" alt="friends-images">
                </div>
                <div class="friends-chat">
                    <div class="friend-name">
                        <span class="f-name">Ahmed Muhammed</span>
                        <span class="f-time">3:45 AM</span>
                    </div>
                    <div class="friend-message">
                        <div class="m-caption">
                            <i class="fas fa-check-double mark-icon"></i>
                            <span class="m-text">Hello, i hope you are doing well!</span>
                        </div>
                        <div class="new-message">
                            <span class="message-alert">2</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="friends">
                <div class="friends-imgs">
                    <img class="img" src="assets/myprofile.jpg" alt="friends-images">
                </div>
                <div class="friends-chat">
                    <div class="friend-name">
                        <span class="f-name">Ahmed Muhammed</span>
                        <span class="f-time">3:45 AM</span>
                    </div>
                    <div class="friend-message">
                        <div class="m-caption">
                            <i class="fas fa-check-double mark-icon"></i>
                            <span class="m-text">Hello, i hope you are doing well!</span>
                        </div>
                        <div class="new-message">
                            <span class="message-alert">2</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="friends">
                <div class="friends-imgs">
                    <img class="img" src="assets/myprofile.jpg" alt="friends-images">
                </div>
                <div class="friends-chat">
                    <div class="friend-name">
                        <span class="f-name">Ahmed Muhammed</span>
                        <span class="f-time">3:45 AM</span>
                    </div>
                    <div class="friend-message">
                        <div class="m-caption">
                            <i class="fas fa-check-double mark-icon"></i>
                            <span class="m-text">Hello, i hope you are doing well!</span>
                        </div>
                        <div class="new-message">
                            <span class="message-alert">2</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="friends">
                <div class="friends-imgs">
                    <img class="img" src="assets/myprofile.jpg" alt="friends-images">
                </div>
                <div class="friends-chat">
                    <div class="friend-name">
                        <span class="f-name">Ahmed Muhammed</span>
                        <span class="f-time">3:45 AM</span>
                    </div>
                    <div class="friend-message">
                        <div class="m-caption">
                            <i class="fas fa-check-double mark-icon"></i>
                            <span class="m-text">Hello, i hope you are doing well!</span>
                        </div>
                        <div class="new-message">
                            <span class="message-alert">2</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
