@import "../../../assets/variables";

.content {
  .group-box
  {
    position: relative;
    background-color: $listBgColor;
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 7px;
    box-shadow: $shadow;
    min-height: 75vh;
    .box-header
    {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;

      .friend-text
      {
        color: #fff;
        font-weight: bolder;
        margin: 0px;
      }
    }

    .group-model
    {
      padding: 0.7rem;
      border: 1px solid rgba($semiGray,0.1);
      border-radius: 7px;
      transition: 0.1s;
      .model-top
      {
        text-align: center;
        .group-img
        {
          height: 80px;
          width: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: auto;
        }
        .group-name
        {
          display: flex;
          align-items: center;
          justify-content: center;
          .g-n
          {
            color: $semiGray;
          }
          .group-messages
          {
            margin-left: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 17px;
            width: 17px;
            background-color: $mainColor;
            color: #fff;
            border-radius: 50%;
          }
        }
      }
      .model-bottom
      {
        display: flex;
        align-items: center;
        justify-content: center;
        .open-chat
        {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: rgba($semiGray, 0.1);
          margin-right: 0.5rem;
          transition: 0.1s;
          .visit
          {
            color: $semiGray;
          }
          &:hover
          {
            cursor: pointer;
            background-color: rgba($semiGray,0.3);
          }
        }
        .remove-group
        {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: rgba($semiGray,0.1);
          transition: 0.1s;

          .remove-icon
          {
            color: $semiGray;
          }
          &:hover
          {
            cursor: pointer;
            background-color: rgba($semiGray,0.3);
            .remove-icon
            {
              color: #ee395b;
            }
          }
        }
      }
      &:hover
      {
        background-color: rgba(black,0.1);
      }
    }

    // prelaoder
    .preloader
    {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba($bgColor,0.2);
      z-index: 900;
      .loading-part
      {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .sk-folding-cube {
          margin: 20px auto;
          width: 40px;
          height: 40px;
          position: relative;
          -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);

          .sk-cube {
            float: left;
            width: 50%;
            height: 50%;
            position: relative;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);

            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: #5199FF;
              -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
              animation: sk-foldCubeAngle 2.4s infinite linear both;
              -webkit-transform-origin: 100% 100%;
              -ms-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
            }
          }

          .sk-cube2 {
            -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
          }

          .sk-cube3 {
            -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
          }

          .sk-cube4 {
            -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
          }

          .sk-cube2:before {
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
          }

          .sk-cube3:before {
            -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
          }

          .sk-cube4:before {
            -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
          }
        }

        @-webkit-keyframes sk-foldCubeAngle {
          0%, 10% {
            -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
            opacity: 0;
          }

          25%, 75% {
            -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
            opacity: 1;
          }

          90%, 100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
            opacity: 0;
          }
        }

        @keyframes sk-foldCubeAngle {
          0%, 10% {
            -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
            opacity: 0;
          }

          25%, 75% {
            -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
            opacity: 1;
          }

          90%, 100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
            opacity: 0;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 767px) {
  .group-col
  {
    padding: 0 !important;
  }
}
.message-btn
{
  background-color: $navBgColor;
  color: $semiGray;
  padding: 0.3rem;
  border: none;
  outline: none;
  border-radius: 7px;
  text-decoration: none;
  &:hover
  {
    color: rgba($mainColorDisabled,1);
  }
}


#add-group
{
  .uk-modal-dialog
  {
    background-color: $listBgColor !important;
    .uk-modal-title
    {
      font-size: 20px !important;
      color: rgba(#fff,0.8);
    }
  }
}
