<section class="content" @scaleIn>
    <div class="group-box">
        <div class="box-header">
            <h4 class="friend-text">Groups</h4>
            <button class="message-btn" href="#add-group" uk-toggle><i class="fa fa-plus mx-2" aria-hidden="true"></i></button>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12" *ngIf="emptyAlert">
                    <div class="alert alert-warning">
                        <span><i class="fa fa-exclamation-circle mx-2" aria-hidden="true"></i> <span>No groups in the moment</span></span>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-2 group-col" *ngFor="let group of allGroupsContainer;trackBy:socket.trackByFn" @scaleUp>
                    <div class="group-model">
                        <div class="model-top">
                            <img src="assets/group.png" class="group-img" alt="group-img">
                            <div class="group-name"><span class="g-n">{{group.name}}</span><span class="group-messages">1</span></div>
                        </div>
                        <div class="model-bottom mt-2">
                            <a class="open-chat text-decoration-none" [routerLink]="['/groups', group._id]">
                                <i class="fas fa-comment visit"></i>
                            </a>
                            <div class="remove-group">
                                <i class="fas fa-sign-out-alt remove-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Preloader part-->
        <div class="preloader">
            <div class="loading-part">
                <div class="sk-folding-cube">
                    <div class="sk-cube1 sk-cube"></div>
                    <div class="sk-cube2 sk-cube"></div>
                    <div class="sk-cube4 sk-cube"></div>
                    <div class="sk-cube3 sk-cube"></div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- user edit modal -->
<div id="add-group" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Add Group</h2>
        <div>
            <form (ngSubmit)="addGroup(addForm)" #addForm='ngForm'>
                <div class="form-group">
                    <div class="chatsapp-input">
                        <input type="text" [(ngModel)]="groupName" class="login-form-control uk-box-shadow-small" placeholder="Group name" name="gn" required>
                        <i class="fa fa-user-circle login-icon" aria-hidden="true"></i>
                        <div class="flexable-div"></div>
                    </div>
                </div>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close mx-2 text-light" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary text-light" [disabled]="sendRequest || addForm.status === 'INVALID'">{{sendRequest? 'SAVING..' : 'Save'}}
                        <i *ngIf="sendRequest" class="fa fa-spinner fa-spin mx-2" aria-hidden="true"></i></button>
                </p>
            </form>
        </div>
    </div>
</div>
