<!-- main navbar -->

<nav class="chats-nav">
    <div class="container-fluid">
        <div class="chats-content">
            <div class="nav-left">
                <div class="canvas-div">
                    <div class="open-canvas" uk-toggle="target: #offcanvas-push">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
                <div class="user-img-div">
                    <img class="user-img" src="assets/myprofile.jpg" alt="user-profile-image">
                </div>
                <div class="online-part">
                    <div class="user-name mx-2">Muhammed Mahmoud</div>
                    <div class="status mx-2">Cairo, Egypt</div>
                </div>
            </div>
            <div class="nav-middle">
                <a class="chat-nav-link text-decoration-none" routerLink="/mychats" routerLinkActive="link-active">
                    <i class="fas fa-comments nav-icon"></i>
                    <span class="link-name">Chats</span>
                </a>
                <a class="chat-nav-link">
                    <i class="fas fa-layer-group nav-icon"></i>
                    <span class="link-name">Groups</span>
                </a>

                <a class="chat-nav-link text-decoration-none" routerLink="/friends" routerLinkActive="link-active">
                    <i class="fas fa-user-friends nav-icon"></i>
                    <span class="link-name">Friends</span>
                </a>
                <a class="chat-nav-link">
                    <i class="fas fa-users nav-icon"></i>
                    <span class="link-name">Find People</span>
                </a>
            </div>
            <div class="nav-right">
                <a class="chat-nav-link">
                    <i class="far fa-bell nav-icon"></i>
                    <span class="notification-number bade badge-danger">1</span>
                </a>
                <a class="chat-nav-link">
                    <i class="fas fa-sign-out-alt nav-icon"></i>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


<!-- nav side bar-->

<div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">
    <div class="uk-offcanvas-bar">
        <div class="sidebar-content">
            <div class="sidebar-top">
                <div>ChatsApp</div>
                <button class="uk-offcanvas-close uk-padding-remove" type="button" uk-close></button>
            </div>
            <hr>
            <div class="sidebar-user-details">
                <div class="user-left">
                    <img class="user-img" src="assets/myprofile.jpg" alt="user-img">
                </div>
                <div class="user-right ml-2">
                    <div class="user-name"><span>Muhammed</span></div>
                    <div class="user-bio"><span>Nothing ever lasts for ever</span></div>
                </div>
            </div>
            <div class="sidebar-links">
                <a class="chat-nav-link" routerLink="/mychats" routerLinkActive="link-acitve">
                    <i class="fas fa-comments nav-icon"></i>
                    <span class="link-name">Chats</span>
                </a>
                <a class="chat-nav-link">
                    <i class="fas fa-layer-group nav-icon"></i>
                    <span class="link-name">Groups</span>
                </a>

                <a class="chat-nav-link">
                    <i class="fas fa-user-friends nav-icon"></i>
                    <span class="link-name">Friends</span>
                </a>
                <a class="chat-nav-link">
                    <i class="fas fa-users nav-icon"></i>
                    <span class="link-name">Find People</span>
                </a>
            </div>
        </div>
    </div>
</div>
