<section class="content" @scaleIn>
    <div class="profile-box">
        <div class="profile-cover">
            <div class="profile-layer"></div>
        </div>
        <div class="profile-image">
            <div class="img-border">
                <img *ngIf="profileContainer?.img?.url" [src]="profileContainer?.img?.url" alt="profile-image">
                <img *ngIf="!profileContainer?.img?.url" src="assets/user.png" alt="profile-image">
                <label for="profilePic" *ngIf="profileContainer?.relation === 'isOwner'">
                    <span class="change-pp">

                    </span>
                </label>
                <div class="img-loader" *ngIf="sendRequest">
                    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                </div>
                <input type="file" id="profilePic" style="display: none" (change)="profileImageSelected($event)">
            </div>
        </div>
        <div class="text-box">
            <div class="profile-name"><span>{{profileContainer?.firstName | titlecase}} {{profileContainer?.lastName | titlecase}}</span></div>
            <div class="bio mb-2">{{profileContainer?.bio}}</div>
            <div class="profile-details">
                <div class="country mx-2"><i class="far fa-flag mx-2 caption-icon"></i> <span class="caption-details">{{profileContainer?.country}}</span></div>
                <div class="gender mx-2"><i class="fa fa-venus-mars mx-2 caption-icon" aria-hidden="true"></i> <span class="caption-details">{{profileContainer?.gender}}</span></div>
                <div class="age mx-2"><i class="fas fa-baby mx-2 caption-icon"></i> <span class="caption-details">{{profileContainer?.age}} yrs</span></div>
            </div>
            <div class="friend-req mt-2">
                <button *ngIf="profileContainer?.relation === 'isFriend'" class="message-btn mx-2"><i class="fas fa-comment-dots mr-1"></i> <span>Message</span></button>
                <button [disabled]="sendRequest" (click)="sendAddFriend(profileContainer._id)" *ngIf="profileContainer.relation === 'isStranger'" class="add-friend-btn mx-2">
                    <span *ngIf="!sendRequest"><i class="fa fa-user-plus mr-1" aria-hidden="true"></i> Add Friend</span>
                    <span *ngIf="sendRequest">Sending<i class="fa fa-spinner fa-spin text-light mx-1" aria-hidden="true"></i></span>
                </button>
                <button *ngIf="profileContainer?.relation === 'isFriendSent'" class="message-btn mx-2"><span>Sent Request</span></button>
                <div uk-lightbox>
                    <a class="view-profile-btn" [href]="profileContainer?.img?.url ? profileContainer?.img?.url : 'assets/user.png'">View Profile Picture</a>
                </div>
                <a (click)="passUserData(profileContainer)" href="#edit-profile" uk-toggle *ngIf="profileContainer?.relation === 'isOwner'" class="message-btn mx-2">
                    <i class="fas fa-user-edit"></i>
                </a>
            </div>
        </div>
        <!-- slider part -->
        <div id="slider-part">
            <hr class="uk-divider-icon">
            <div><span class="text-light font-weight-bold">Friends</span></div>
            <div class="alert alert-warning" *ngIf="profileContainer?.userFriends?.length === 0">
                <i class="fa fa-exclamation-triangle mx-2" aria-hidden="true"></i>
                <span style="font-size: 14px">{{profileContainer?.relation === 'isOwner' ? 'You dont' : 'This person doesnt'}} have any friends <a *ngIf="profileContainer.relation === 'isOwner'" routerLink="/people" class="text-decoration-none">Find some</a></span>
            </div>
            <swiper [config]="config" *ngIf="profileContainer?.userFriends?.length > 0">
                <div class="swiper-wrapper p-2">
                    <!--      slide -->
                    <div class="swiper-slide" *ngFor="let friend of profileContainer?.userFriends;trackBy: socket?.trackByFn" [routerLink]="['/profile', friend._id]">
                        <div>
                            <img *ngIf="friend?.img?.url" [src]="friend?.img?.url" alt="friend-img">
                            <img *ngIf="!friend?.img?.url" src="assets/user.png" alt="friend-img">
                        </div>
                        <div class="card-caption">
                            <div class="card-name">{{friend.firstName | titlecase}} {{friend.lastName | titlecase}}</div>
                            <div class="card-data">{{friend.country}}, {{friend.gender}}</div>
                        </div>
                    </div>

                </div>
            </swiper>
        </div>
        <!--Preloader part-->
        <div class="preloader">
            <div class="loading-part">
                <div class="sk-folding-cube">
                    <div class="sk-cube1 sk-cube"></div>
                    <div class="sk-cube2 sk-cube"></div>
                    <div class="sk-cube4 sk-cube"></div>
                    <div class="sk-cube3 sk-cube"></div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- user edit modal -->
<div id="edit-profile" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Edit Profile</h2>
        <div>
            <form (ngSubmit)="editProfileData()" #editForm='ngForm'>
                <div class="form-group">
                    <div class="chatsapp-input">
                        <input type="text" [(ngModel)]="userData.firstName" class="login-form-control uk-box-shadow-small" placeholder="First name" name="efn" required>
                        <i class="fa fa-user-circle login-icon" aria-hidden="true"></i>
                        <div class="flexable-div"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="chatsapp-input">
                        <input type="text" [(ngModel)]="userData.lastName" class="login-form-control uk-box-shadow-small" placeholder="Last name" name="eln" required>
                        <i class="fa fa-user-circle login-icon" aria-hidden="true"></i>
                        <div class="flexable-div"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="chatsapp-input">
                        <input type="text" [(ngModel)]="userData.age" class="login-form-control uk-box-shadow-small" placeholder="Age" name="ea" required>
                        <i class="fas fa-baby login-icon"></i>
                        <div class="flexable-div"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="chatsapp-input">
                        <input type="text" [(ngModel)]="userData.gender" class="login-form-control uk-box-shadow-small" placeholder="Gender" name="eg" required>
                        <i class="fa fa-venus-mars login-icon" aria-hidden="true"></i>
                        <div class="flexable-div"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="chatsapp-input">
                        <input type="text" [(ngModel)]="userData.country" class="login-form-control uk-box-shadow-small" placeholder="Country" name="ec" required>
                        <i class="fa fa-globe-africa login-icon" aria-hidden="true"></i>
                        <div class="flexable-div"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="chatsapp-input">
                        <input type="text" [(ngModel)]="userData.bio" class="login-form-control uk-box-shadow-small" placeholder="Bio" name="eb" required>
                        <i class="fas fa-envelope-open-text login-icon"></i>
                        <div class="flexable-div"></div>
                    </div>
                </div>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close mx-2 text-light" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary text-light" [disabled]="sendRequest || editForm.status === 'INVALID'">{{sendRequest? 'SAVING..' : 'Save'}}
                        <i *ngIf="sendRequest" class="fa fa-spinner fa-spin mx-2" aria-hidden="true"></i></button>
                </p>
            </form>
        </div>
    </div>
</div>
