<section class="content" @scaleIn>
    <div class="user-box">
        <div class="box-header">
            <h4 class="friend-text">Friends</h4>
            <form class="search-friend">
                <input type="search" [(ngModel)]="searchedText" (keyup)="searchInFriends()" class="friend-form-control" placeholder="Search a friend" name="searchFriend">
                <i class="fa fa-search search-icon" aria-hidden="true"></i>
            </form>
        </div>
        <div *ngIf="friendsContainer.length === 0">
            <div class="alert alert-warning">
                <i class="fa fa-exclamation-triangle mx-2" aria-hidden="true"></i>
                <span>You dont have any friends <a [routerLink]="['/people']">Find Some</a></span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 friend-col mb-2" *ngFor="let friend of toggleArraies === false ? friendsContainer : filteredFriends;trackBy: socket.trackByFn" @scaleUp>
                    <div class="friend-details">
                        <div class="friend-left">
                            <img *ngIf="!friend?.img?.url" class="friend-img" src="assets/user.png" alt="friend-image">
                            <img *ngIf="friend?.img?.url" class="friend-img" [src]="friend?.img?.url" alt="friend-image">
                            <div class="friend-caption">
                                <div class="caption-text"><span>{{friend.firstName | titlecase}} {{friend.lastName | titlecase}}</span> <span class="user-acitve"></span></div>
                                <a class="matual-friends" href="#modal-overflow" uk-toggle (click)="passMutualData(friend.matualFriends)"><span>{{friend.matualFriends.length === 0? 'No' : friend.matualFriends.length}} mutual {{friend.matualFriends.length === 1 ? 'friend' : 'friends'}}</span></a>
                            </div>
                        </div>
                        <div class="friend-right">
                            <a class="visit-profile text-decoration-none" [routerLink]="['/profile',friend._id]">
                                <i class="fas fa-eye visit"></i>
                            </a>
                            <div class="un-friend" (click)="deleteFriend(friend._id, friend.firstName, friend.lastName)">
                                <i class="fas fa-user-times remove-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Preloader part-->
        <div class="preloader">
            <div class="loading-part">
                <div class="sk-folding-cube">
                    <div class="sk-cube1 sk-cube"></div>
                    <div class="sk-cube2 sk-cube"></div>
                    <div class="sk-cube4 sk-cube"></div>
                    <div class="sk-cube3 sk-cube"></div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- matual friends modal -->
<div id="modal-overflow" uk-modal>
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h2 class="uk-modal-title text-light">Mutual Friends</h2>
            <button class="uk-modal-close-default" type="button" uk-close></button>
        </div>
        <div class="uk-modal-body" uk-overflow-auto>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12" *ngIf="mutualFriends.length === 0">
                        <div class="alert uk-alert-warning">
                            <i class="fa fa-exclamation-circle mx-2" aria-hidden="true"></i>
                            <span>No mutual friends founded!</span>
                        </div>
                    </div>
                    <div class="col-12 friend-col mb-2" *ngFor="let mutual of mutualFriends;trackBy: socket.trackByFn">
                        <div class="friend-details">
                            <div class="friend-left">
                                <img *ngIf="!mutual?.img?.url" class="friend-img" src="assets/user.png" alt="friend-image">
                                <img *ngIf="mutual?.img?.url" class="friend-img" [src]="mutual?.img?.url" alt="friend-image">
                                <div class="friend-caption">
                                    <div class="caption-text"><span>{{mutual.firstName | titlecase}} {{mutual.lastName | titlecase}}</span></div>
                                    <a class="matual-friends"><span>{{mutual.friends.length}} {{mutual.friends.length === 1 ? 'Friend' : 'Friends'}}</span></a>
                                </div>
                            </div>
                            <div class="friend-right">
                                <a class="visit-profile text-decoration-none" [routerLink]="['/profile', mutual._id]">
                                    <i class="fas fa-eye visit"></i>
                                </a>
<!--                                <div class="un-friend">-->
<!--                                    <i class="fas fa-user-plus remove-icon"></i>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
