<section class="content" @scaleIn>
    <div class="user-box">
        <div class="box-header">
            <h4 class="friend-text">Find People</h4>
            <form class="search-friend">
                <input type="search" [(ngModel)]="searchedText" (keyup)="searchInPeople()" class="friend-form-control" placeholder="Search in people" name="searchPeople">
                <i class="fa fa-search search-icon" aria-hidden="true"></i>
            </form>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6 friend-col mb-2" *ngFor="let pple of toggleArraies === false ? peopleContainer : filterdPeople;trackBy: socket.trackByFn;let i = index" @scaleUp>
                    <div class="friend-details">
                        <div class="friend-left">
                            <img *ngIf="!pple?.img?.url" class="friend-img" src="assets/user.png" alt="friend-image">
                            <img *ngIf="pple?.img?.url" class="friend-img" [src]="pple?.img?.url" alt="friend-image">
                            <div class="friend-caption">
                                <div class="caption-text"><span>{{pple.firstName | titlecase}} {{pple.lastName | titlecase}}</span></div>
                                <a class="matual-friends" href="#modal-overflow" uk-toggle (click)="getSelectedPeople(pple.mutualFriends)"><span>{{pple.mutualFriends.length === 0 ? 'No' : pple.mutualFriends.length}} mutual {{pple.mutualFriends.length === 1? 'friend' : 'friends'}}</span></a>
                            </div>
                        </div>
                        <div class="friend-right">
                            <a class="visit-profile text-decoration-none" [routerLink]="['/profile', pple._id]">
                                <i class="fas fa-eye visit"></i>
                            </a>
                            <button class="un-friend" [disabled]="pple.sendRequest" *ngIf="pple.sent === false" (click)="sendFriendReq(pple._id, i)">
                                <i *ngIf="!pple?.sendRequest" class="fas fa-user-plus remove-icon"></i>
                                <i *ngIf="pple?.sendRequest" class="fa fa-spinner fa-spin text-light" aria-hidden="true"></i>
                            </button>
                            <div class="sent-request" *ngIf="pple.sent === true">
                                <span>Sent</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Preloader part-->
        <div class="preloader">
            <div class="loading-part">
                <div class="sk-folding-cube">
                    <div class="sk-cube1 sk-cube"></div>
                    <div class="sk-cube2 sk-cube"></div>
                    <div class="sk-cube4 sk-cube"></div>
                    <div class="sk-cube3 sk-cube"></div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- matual friends modal -->
<div id="modal-overflow" uk-modal>
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h2 class="uk-modal-title text-light">Mutual Friends</h2>
            <button class="uk-modal-close-default" type="button" uk-close></button>
        </div>
        <div class="uk-modal-body" uk-overflow-auto>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12" *ngIf="mutualPeople.length === 0">
                        <div class="alert uk-alert-warning">
                            <i class="fa fa-exclamation-circle mx-2" aria-hidden="true"></i>
                            <span>No mutual friends founded</span>
                        </div>
                    </div>
                    <div class="col-12 friend-col mb-2" *ngFor="let mutual of mutualPeople">
                        <div class="friend-details">
                            <div class="friend-left">
                                <img *ngIf="!mutual?.img?.url" class="friend-img" src="assets/user.png" alt="friend-image">
                                <img *ngIf="mutual?.img?.url" class="friend-img" [src]="mutual?.img?.url" alt="friend-image">
                                <div class="friend-caption">
                                    <div class="caption-text"><span>{{mutual.firstName | titlecase}} {{mutual.lastName | titlecase}}</span></div>
                                    <a class="matual-friends"><span>{{mutual?.friends?.length}}</span></a>
                                </div>
                            </div>
                            <div class="friend-right">
                                <a class="visit-profile text-decoration-none" [routerLink]="['/profile', mutual._id]">
                                    <i class="fas fa-eye visit"></i>
                                </a>
<!--                                <div class="un-friend">-->
<!--                                    <i class="fas fa-user-plus remove-icon"></i>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
