$bgColor: #15202B;
$navBgColor: rgba(29,161,242,0.1);
$mainColor: rgb(29, 161, 242);
$mainColorHover: #1A91DA;
$mainColorDisabled: #19618F;
$listBgColor: #192734;
$semiGray: #8f9bb3;
$shadow: 0 3px 6px rgba($bgColor, 0.1) !important;
